{{#extend "js_import"}}
  <script src="javascripts/repl-es5.js"></script>
{{/extend}}
<script type="geocode-req-payload">{
  "query": {
    "geocode-query": {
      "search-filter": {
        "pair": [{
          "key": "language",
          "value": "zh-CN"
        }]
      },
      "address": {
        "city": "",
        "freeform": "NanKai district",
        "country": "CHN",
        "state": "",
        "county": "",
        "airport": "",
        "str": "",
        "xstr": "",
        "sa": "",
        "postal": "",
        "type": "freeform"
      },
      "sliceres": {
        "total": 10,
        "start": 0,
        "end": 10
      },
      "routeable": {}
    }
  }
}</script>
<script type="search-req-payload">{
  "query": {
    "search-query": {
      "scheme": "tcs-single-search",
      "language": "language",
      "position": {
        "variant": "point",
        "point": {
          "lat": 39.116823,
          "lon": 117.148402
        }
      },
      "search-filter": {
        "pair": [{
          "key": "name",
          "value": "tianjinshi"
        }, {
          "key": "search-result-id",
          "value": ""
        }],
        "result-style": {
          "key": "single-search"
        }
      },
      "iter-command": {
        "command": "start",
        "state": "",
        "number": 10
      }
    }
  }
}</script>
<form name="query" onsubmit="return false;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>JSON Request to LBS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h2>Payload <small><select name="req-payload">
          <option value="geocode-req-payload">geocode</option>
          <option value="search-req-payload" selected>search</option>
        </select></small></h2>
        <textarea name="payload" rows="10" style="width:100%"></textarea>
      </div>
      <div class="col-lg-5">
        <h2>Iden</h2>
        <textarea name="iden" rows="10" style="width:100%">{
          "iden": {
            "ip-address": "192.168.84.233",
            "client-guid": "dc5b30a4ff374279802a06b26cef9b7",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.89 Safari/537.36",
            "language": "zh-cn",
            "credential": "PrMkzpTrr4urjZpmG0S36Ghmu/dcLUucuXjR8ZAO",
            "mdn": 9999990012
          }
        }</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1">
        <button type="button" class="btn btn-primary" name="send">Send</button>
      </div>
      <div class="col-lg-11">
        <h1>JSON Response from LBS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <textarea id="res" rows="10" style="width:100%">Upcoming</textarea>
      </div>
    </div>
  </div>
</form>
