{{#extend "css_import"}}
  <link rel='stylesheet' href='stylesheets/externals/jsoneditor.css' />
  <link rel='stylesheet' href='stylesheets/repl.css' />
{{/extend}}
{{#extend "js_import"}}
  <script src="javascripts/externals/jsoneditor.js"></script>
  <script src="javascripts/externals/jsoneditor-minimalist.js"></script>
  <script src="javascripts/repl-es5.js"></script>
{{/extend}}
<script type="geocode-req-payload">{
  "query": {
    "geocode-query": {
      "search-filter": {
        "pair": [{
          "key": "language",
          "value": "zh-CN"
        }]
      },
      "address": {
        "city": "",
        "freeform": "NanKai district",
        "country": "CHN",
        "state": "",
        "county": "",
        "airport": "",
        "str": "",
        "xstr": "",
        "sa": "",
        "postal": "",
        "type": "freeform"
      },
      "sliceres": {
        "total": 10,
        "start": 0,
        "end": 10
      },
      "routeable": {}
    }
  }
}</script>
<script type="search-req-payload">{
  "query": {
    "search-query": {
      "scheme": "tcs-single-search",
      "language": "language",
      "position": {
        "variant": "point",
        "point": {
          "lat": 39.116823,
          "lon": 117.148402
        }
      },
      "search-filter": {
        "pair": [{
          "key": "name",
          "value": "tianjinshi"
        }, {
          "key": "search-result-id",
          "value": ""
        }],
        "result-style": {
          "key": "single-search"
        }
      },
      "iter-command": {
        "command": "start",
        "state": "",
        "number": 10
      }
    }
  }
}</script>
<script type="metadatasource-req-payload">{
  "query": {
    "metadata-source-query": {
      "screen-height": 1080,
      "screen-resolution": 480,
      "screen-width": 1794,
      "ts": 4223999047,
      "language": "",
      "wanted-content": [{
        "country": "USA",
        "dataset-id": "",
        "type": "unified binary model"
      }, {
        "country": "USA",
        "dataset-id": "",
        "type": "raster map"
      }, {
        "country": "USA",
        "dataset-id": "",
        "type": "weather"
      }, {
        "country": "USA",
        "dataset-id": "",
        "type": "data availability"
      }],
      "want-unified-maps": {
        "feature-set-version": 1,
        "want-lod": {},
        "want-optional-layers": {},
        "want-label-layers": {},
        "want-2d-buildings": {},
        "want-poi-layers": {},
        "want-new-categories": {},
        "want-satellite-layers": {},
        "want-tod": {},
        "want-themes": {}
      },
      "want-loc": {}
    }
  }
}</script>
<form name="query" onsubmit="return false;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>JSON Request to LBS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <h2>Payload <small><select name="req-payload">
          <option value="geocode-req-payload">geocode</option>
          <option value="search-req-payload">search</option>
          <option value="metadatasource-req-payload" selected>metadata source</option>
        </select></small></h2>
        <textarea name="payload" rows="10"></textarea>
      </div>
      <div class="col-lg-5">
        <h2>Iden</h2>
        <textarea name="iden" rows="10">{
          "iden": {
            "ip-address": "192.168.84.233",
            "client-guid": "dc5b30a4ff374279802a06b26cef9b7",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.89 Safari/537.36",
            "language": "zh-cn",
            "credential": "PrMkzpTrr4urjZpmG0S36Ghmu/dcLUucuXjR8ZAO",
            "mdn": 9999990012
          }
        }</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1">
        <button type="button" class="btn btn-primary" name="send">Send</button>
      </div>
      <div class="col-lg-11">
        <h1>JSON Response from LBS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="jsoneditor"></div>
      </div>
    </div>
  </div>
</form>
